Repository svipulc/Evoke-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"]
}

refactor: update title in container component story
  src/components/Container/index.stories.tsx
Due: eslint --fix, prettier --write

refactor: update title in container component story (#24)
  src/components/Container/index.stories.tsx
Due: eslint --fix, prettier --write

refactor: sm:75 add top,bottom for vertical divider with type compatibility
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
Due: eslint --fix, prettier --write

docs: add storybook documentation
  public/Logo.svg
  src/docs/Installation.mdx
  src/docs/colors.mdx
Due: none

style: add lightmode for button-component
  src/components/Button/index.style.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

style: add light mode color in avatar component
  src/components/Avatar/index.style.tsx
Due: eslint --fix, prettier --write

style: add light mode color in avatar component (#27)
  src/components/Avatar/index.style.tsx
Due: eslint --fix, prettier --write

style: remove offset and update dark color in avatar component
  src/components/Avatar/index.style.tsx
Due: eslint --fix, prettier --write

style: remove offset and update dark color in avatar component (#28)
  src/components/Avatar/index.style.tsx
Due: eslint --fix, prettier --write

style: add lightmode for input component
  src/components/Input/index.style.tsx
  src/components/Input/index.tsx
Due: eslint --fix, prettier --write

style: add light mode color in tabs component
  src/components/Tabs/index.styles.tsx
Due: eslint --fix, prettier --write

style: add light mode color in tabs component (#30)
  src/components/Tabs/index.styles.tsx
Due: eslint --fix, prettier --write

docs: add logo and update readme file
  README.md
Due: prettier --write

docs: add comprehensive documentation for Evoke UI (#13)
  .storybook/main.ts
  README.md
  src/components/Avatar/index.stories.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

fix: export grid component in index.ts
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.11.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  7151731ff5e0bd4b35a29a25851f9bde3afe3f66
Due: none

feat: sm-75 create divider component (#20)
  package-lock.json
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

Revert "feat: sm-75 create divider component (#20)"
  package-lock.json
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  361a31fdcf7edc57fe1aa92c66912e9ed11c0a38
Due: none

Revert "feat: sm-75 create divider component (#20)" (#31)
  package-lock.json
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

refactor: sm-75 convert Allignment to lowercase and also other changes related to lowercase
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
Due: eslint --fix, prettier --write

refactor: remove defalut background color options for box component
  src/components/Box/index.stories.tsx
  src/components/Box/index.style.tsx
  src/components/Box/index.tsx
Due: eslint --fix, prettier --write

feat: sm-74 create box component (#32)
  src/components/Box/index.stories.tsx
  src/components/Box/index.style.tsx
  src/components/Box/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  53459103d917043e265f12a13dc3c60cdc1c2bcb
Due: none

sm-75 feat/divider component (#33)
  package-lock.json
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b9518ff78db6e797d47724ed15630ab1e94da1f3
Due: none

Update README.md
  README.md
Due: prettier --write

fix: convert tooltip component to named export
  src/components/Tooltip/index.stories.tsx
  src/components/Tooltip/index.tsx
Due: eslint --fix, prettier --write

fix: modal overlay issue
  src/components/Modal/index.style.tsx
Due: eslint --fix, prettier --write

fix: modal overlay issue (#39)
  src/components/Modal/index.style.tsx
Due: eslint --fix, prettier --write

fix: modal issue fix
  src/components/Modal/index.style.tsx
Due: eslint --fix, prettier --write
