Repository svipulc/Evoke-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: migrate skeleton component to emotion style
  src/components/Skeleton/index.stories.tsx
  src/components/Skeleton/index.style.tsx
  src/components/Skeleton/index.tsx
Due: eslint --fix, prettier --write

refactor: migrate input component to emotion style
  src/components/Input/index.stories.tsx
  src/components/Input/index.style.tsx
  src/components/Input/index.tsx
Due: eslint --fix, prettier --write

refactor: align grid component with design system
  src/components/Grid/index.stories.tsx
  src/components/Grid/index.style.tsx
  src/components/Grid/index.tsx
Due: eslint --fix, prettier --write

refactor: align stack component with design system
  src/components/Stack/index.stories.tsx
  src/components/Stack/index.style.tsx
  src/components/Stack/index.tsx
Due: eslint --fix, prettier --write

feat: add netural color categories union type
  src/theme/theme.type.ts
Due: eslint --fix, prettier --write

fix: fix modal stories with latest changes
  src/components/Modal/index.stories.tsx
Due: eslint --fix, prettier --write

fix: change spacing value from px to rem & netural colors value
  src/theme/theme.ts
Due: eslint --fix, prettier --write

fix: remove any type assertion
  src/components/Card/index.style.tsx
Due: eslint --fix, prettier --write

refactor: migrate divider component to emotion style
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
Due: eslint --fix, prettier --write

fix: remove flex-wrap property from stack component
  src/components/Stack/index.style.tsx
Due: eslint --fix, prettier --write

fix: add css props to apply custom style from outside
  src/components/Stack/index.tsx
Due: eslint --fix, prettier --write

refactor: migrate container component to emotion style
  src/components/Container/index.stories.tsx
  src/components/Container/index.style.tsx
  src/components/Container/index.tsx
Due: eslint --fix, prettier --write

fix: remove flex from card footer
  src/components/Card/index.stories.tsx
  src/components/Card/index.style.tsx
Due: eslint --fix, prettier --write

refactor: delete old theme file
  src/theme/index.ts
Due: eslint --fix, prettier --write

fix: apply width & autofill style
  src/components/Input/index.style.tsx
Due: eslint --fix, prettier --write

refactor: add theme provider & change theme
  .storybook/preview.ts
  src/evoke-theme-config.ts
Due: eslint --fix, prettier --write

refactor: change styling issues
  src/components/Avatar/index.style.tsx
  src/components/Box/index.style.tsx
  src/components/Box/index.tsx
  src/components/Card/index.style.tsx
  src/components/Tabs/index.stories.tsx
  src/components/Tabs/index.styles.tsx
  src/components/Tabs/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  8d21c38e5a36d00be05fd9245d331c900b45f305
Due: none

fix(stack): spacing props types
  src/components/Stack/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.20.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  0cd33824639ee271e5980983e86780c964e2c4d4
Due: none

fix(stack): gap value
  src/components/Stack/index.style.tsx
Due: eslint --fix, prettier --write

chore(release): 1.20.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  f78103418e21a63a6029b0d16fab972b326c0565
Due: none

feat(utils): add function to get responsive style
  src/utils/index.tsx
Due: eslint --fix, prettier --write

feat(box): allows responsive values to breakpoints
  src/components/Box/index.stories.tsx
  src/components/Box/index.style.tsx
  src/components/Box/index.tsx
Due: eslint --fix, prettier --write

feat(card): allows responsive padding value for Card Header, Content & Footer
  src/components/Card/index.style.tsx
  src/components/Card/index.tsx
Due: eslint --fix, prettier --write

feat(tooltip): allow responsive position values for tooltip component
  src/components/Tooltip/index.stories.tsx
  src/components/Tooltip/index.style.tsx
  src/components/Tooltip/index.tsx
Due: eslint --fix, prettier --write

fix(theme): export useEvokeTheme hook
  src/hooks/index.ts
Due: eslint --fix, prettier --write

feat: allows responsive value for fitted props & fix the overflow issues
  src/components/Tabs/index.stories.tsx
  src/components/Tabs/index.styles.tsx
  src/components/Tabs/index.tsx
  src/context/Tabs/index.ts
Due: eslint --fix, prettier --write

fix(modal): add responsive size value
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/context/Modal/index.tsx
Due: eslint --fix, prettier --write

feat(avatar): allow responsive props value
  src/components/Avatar/index.stories.tsx
  src/components/Avatar/index.style.tsx
  src/components/Avatar/index.tsx
Due: eslint --fix, prettier --write

feat: allow responsive props value
  src/components/Button/index.style.tsx
  src/components/Button/index.tsx
Due: eslint --fix, prettier --write

fix(divider): remove margin
  src/components/Divider/index.style.tsx
Due: eslint --fix, prettier --write

feat: allow responsive props value for components (#62)
  src/components/Avatar/index.stories.tsx
  src/components/Avatar/index.style.tsx
  src/components/Avatar/index.tsx
  src/components/Box/index.stories.tsx
  src/components/Box/index.style.tsx
  src/components/Box/index.tsx
  src/components/Button/index.style.tsx
  src/components/Button/index.tsx
  src/components/Card/index.style.tsx
  src/components/Card/index.tsx
  src/components/Divider/index.style.tsx
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/components/Tabs/index.stories.tsx
  src/components/Tabs/index.styles.tsx
  src/components/Tabs/index.tsx
  src/components/Tooltip/index.stories.tsx
  src/components/Tooltip/index.style.tsx
  src/components/Tooltip/index.tsx
  src/context/Modal/index.tsx
  src/context/Tabs/index.ts
  src/hooks/index.ts
  src/utils/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  5137310929354d4ad821fc0b4213a6256a183022
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
