Repository svipulc/Evoke-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"]
}

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b235e7eef68275c76695a4cef3f456bbb1a0f109
Due: none

fix: modal issue and package version (#41)
  CHANGELOG.md
  src/components/Modal/index.style.tsx
Due: eslint --fix, prettier --write

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1e92a5866d7e2be84ee0414181636970f1977ed6
Due: none

fix: latest npm version of dev (#44)
  CHANGELOG.md
Due: prettier --write

fix: new style of modal component
  src/components/Modal/index.style.tsx
Due: eslint --fix, prettier --write

chore(release): 1.14.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  d095e5d1fcaa4f8f3a5d164446d8627a642e819c
Due: none

refactor: improve modal component structure
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
Due: eslint --fix, prettier --write

fix: uncomment code
  src/components/Modal/index.tsx
Due: eslint --fix, prettier --write

feat: add useModal hook for managing modal state
  src/hooks/Modal/index.ts
Due: eslint --fix, prettier --write

fix: migrate Modal component to Emotion for styling & include createPortal
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/context/Modal/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add show/hide password functionality in Input
  src/components/Input/index.tsx
Due: eslint --fix, prettier --write

fix: remove password functionality, add icon props In Input
  src/components/Input/index.stories.tsx
  src/components/Input/index.style.tsx
  src/components/Input/index.tsx
Due: eslint --fix, prettier --write

fix: reset import orders in Input stories
  src/components/Input/index.stories.tsx
Due: eslint --fix, prettier --write

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  56daa35a9966d8cef9bab0e13e63c6f873a2c13d
Due: none

feat: add ref to scrollArea component
  src/components/ScrollArea/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  f46aae66e5ebc4edc86bde2c051ae879759cda85
Due: none

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  87d8e577103ab3e0d4ea9e74f460db6ac44f43b3
Due: none

feat: establish foundational design system
  src/theme/pallete.ts
  src/theme/theme.ts
  src/theme/theme.type.ts
Due: eslint --fix, prettier --write

feat: configure theme toggle in storybook for emotion
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: change breakpoints value in default theme
  src/theme/theme.ts
Due: eslint --fix, prettier --write

refactor: remove the primary & secondary variant from color variant
  src/theme/theme.ts
  src/theme/theme.type.ts
Due: eslint --fix, prettier --write

feat: add light & dark theme colors & add theme configuration for storybook
  .storybook/preview.ts
  src/emotion.d.ts
  src/evoke-theme-config.ts
Due: eslint --fix, prettier --write

feat: establish foundational design system (#52)
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/emotion.d.ts
  src/evoke-theme-config.ts
  src/theme/pallete.ts
  src/theme/theme.ts
  src/theme/theme.type.ts
Due: eslint --fix, prettier --write

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  4de213e50bd34992efc555029b4d33040bceb7f0
Due: none

feat: add opacity scale into design system
  src/theme/theme.ts
  src/theme/theme.type.ts
Due: eslint --fix, prettier --write

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  5cf078a2050f1fb43192cef1f9f69c95145e0a8e
Due: none

feat: align modal component with design system, add close on escape click & environement checking
  .storybook/preview.ts
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/context/Modal/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

fix: migrate Modal component to Emotion for styling (#48)
  .storybook/preview.ts
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/context/Modal/index.tsx
  src/hooks/Modal/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write
