Repository svipulc/Evoke-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"]
}

feat: create tooltip component
  src/components/Tooltip/index.stories.tsx
  src/components/Tooltip/index.style.tsx
  src/components/Tooltip/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

feat: sm-51 - create scroll-area component
  src/components/ScrollArea/index.stories.tsx
  src/components/ScrollArea/index.style.tsx
  src/components/ScrollArea/index.tsx
  src/components/index.tsx
  src/data/index.tsx
  src/index.css
Due: eslint --fix, prettier --write

refactor: sm-50 - add active ring effec, update size variants & update text alignment
  src/components/Button/index.style.tsx
Due: eslint --fix, prettier --write

feat: sm-55 - create card component
  .storybook/main.ts
  postcss.config.js
  src/components/Card/index.stories.tsx
  src/components/Card/index.style.tsx
  src/components/Card/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

feat: sm-56 - create skeleton component
  src/components/Skeleton/index.stories.tsx
  src/components/Skeleton/index.style.tsx
  src/components/Skeleton/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

feat: sM-57 - create modal component
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/components/Modal/modal.types.ts
  src/components/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: sm-66 packaging code for npm publish
  .github/workflows/release.yml
  .npmrc
  .releaserc.json
  README.md
  package-lock.json
  package.json
  src/components/Button/index.stories.tsx
  src/index.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: add web accesibility attributes, remove Modal.Body component & move types to index.tsx
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.tsx
  src/components/Modal/modal.types.ts
Due: eslint --fix, prettier --write

refactor: add more postions in styles,remove unnecessary props & update the stories code
  package-lock.json
  package.json
  src/components/Tooltip/index.stories.tsx
  src/components/Tooltip/index.style.tsx
  src/components/Tooltip/index.tsx
Due: eslint --fix, prettier --write

chore: solve spelling error
  README.md
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

style: remove unwanted styles in card component
  src/components/Card/index.style.tsx
Due: eslint --fix, prettier --write

style: move scrollbar-container class into @layer utilities
  src/index.css
Due: prettier --write

docs: add comprehensive documentation for Evoke UI
  README.md
Due: prettier --write

refactor: refactor getInitials function and style
  src/components/Avatar/index.style.tsx
  src/components/Avatar/index.tsx
Due: eslint --fix, prettier --write

Update release.yml
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  70a6d9431e4858d97a6eb2f4812f219a0127b011
Due: none

fix: sm-69 fix import problem in card component
  src/components/Card/index.tsx
Due: eslint --fix, prettier --write

resolve conflict of stories
  src/components/Card/index.stories.tsx
  src/components/Card/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1cc0ad374ac0127a47d170497f6c599353a1e7db
Due: none

refactor: use named exports,removed repeated types and extra code,updated some styles & added a prop
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
Due: eslint --fix, prettier --write

refactor: export the types and remove unwanted code in avatar component
  src/components/Avatar/index.tsx
Due: eslint --fix, prettier --write

feat: sm-52 create toast component
  package-lock.json
  src/components/Toast/CenterDecorator.tsx
  src/components/Toast/index.stories.tsx
  src/components/Toast/index.style.tsx
  src/components/Toast/index.tsx
  src/components/index.tsx
  src/context/Toast/index.tsx
  src/context/index.ts
  src/hooks/Toast/index.ts
  src/hooks/index.ts
  src/index.ts
Due: eslint --fix, prettier --write

style: add compoundVariants for responsive Toast positioning on small screens
  src/components/Toast/index.style.tsx
Due: eslint --fix, prettier --write

fix: add autoClose parameter in toast stories
  src/components/Toast/index.stories.tsx
Due: eslint --fix, prettier --write

refactor: convert to named export
  src/components/Toast/CenterDecorator.tsx
  src/components/Toast/index.stories.tsx
Due: eslint --fix, prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  3fcb4c72fd21d507f9a2a0dcd8787892f563506a
Due: none

refactor: add modal sizes, fix CLS, and separate hooks & context into individual folders
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/context/Modal/index.tsx
  src/context/index.ts
  src/hooks/Modal/index.ts
  src/hooks/index.ts
  src/index.ts
Due: eslint --fix, prettier --write

feat: sm-73 create container component
  src/components/Container/index.stories.tsx
  src/components/Container/index.style.tsx
  src/components/Container/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

style: fix style issue of rounded in card component
  src/components/Card/index.stories.tsx
  src/components/Card/index.style.tsx
Due: eslint --fix, prettier --write

refactor: add new story for container component
  src/components/Container/index.stories.tsx
Due: eslint --fix, prettier --write

feat: sm-71 - create grid component
  src/components/Grid/index.stories.tsx
  src/components/Grid/index.style.tsx
  src/components/Grid/index.tsx
  src/utils/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  f6b748ea94abba2f81a70ef2dfb960dbfb8c1da4
Due: none

feat: add new feature to set maxwidth of container component
  src/components/Container/index.stories.tsx
  src/components/Container/index.style.tsx
  src/components/Container/index.tsx
Due: eslint --fix, prettier --write
