Repository svipulc/Evoke-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): 1.18.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  8e73b8f68af8ecd206049b32f409069f0e8291a3
Due: none

feat: establish design system & update modal component (#54)
  .storybook/main.ts
  .storybook/preview.ts
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/context/Modal/index.tsx
  src/emotion.d.ts
  src/evoke-theme-config.ts
  src/hooks/Modal/index.ts
  src/theme/pallete.ts
  src/theme/theme.ts
  src/theme/theme.type.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Revert "Update CHANGELOG.md"
  CHANGELOG.md
Due: prettier --write

Revert "feat: establish design system & update modal component (#54)"
  .storybook/main.ts
  .storybook/preview.ts
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/context/Modal/index.tsx
  src/emotion.d.ts
  src/evoke-theme-config.ts
  src/hooks/Modal/index.ts
  src/theme/pallete.ts
  src/theme/theme.ts
  src/theme/theme.type.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: change exports in theme file and add it in index.ts
  src/index.ts
  src/theme/theme.ts
Due: eslint --fix, prettier --write

chore(release): 1.18.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  44dfd2455f297f12c1b493480a139c902a9aac1c
Due: none

style: add props for change modalbody style and refactor styling
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
Due: eslint --fix, prettier --write

fix: add warning condition for preventing modal without theme
  src/components/Modal/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.18.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  27c640add051b0d7d1186f27c40e149b42b175e9
Due: none

chore(release): 1.18.4 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  97ccfa6462efdc7337eb1dd8e2eba4b0eb6d67d7
Due: none

feat: migrate scroll-area into emotion styling & make scrollbar visible in mobile screen
  src/components/ScrollArea/index.stories.tsx
  src/components/ScrollArea/index.style.tsx
  src/components/ScrollArea/index.tsx
  src/index.css
Due: eslint --fix, prettier --write

style: change overflow value from scroll to auto
  src/components/ScrollArea/index.style.tsx
Due: eslint --fix, prettier --write

feat: migrate scroll-area into emotion styling
  src/components/ScrollArea/index.stories.tsx
  src/components/ScrollArea/index.style.tsx
  src/components/ScrollArea/index.tsx
  src/index.css
Due: eslint --fix, prettier --write

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6f8a03a0998a977691fdb55c679d18fdeca11c48
Due: none

chore(release): 1.19.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  076640ba3bf2bc0eeda773ddc731d06ee2030a6a
Due: none

fix: add focus style on button component
  src/components/Button/index.style.tsx
Due: eslint --fix, prettier --write

chore(release): 1.19.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  fcaef783d84e92d63ec2cc923f7e59452c96e603
Due: none

fix(style): update Tailwind dark theme configuration and apply changes to components
  src/components/Avatar/index.stories.tsx
  src/components/Avatar/index.style.tsx
  src/components/Button/index.style.tsx
  src/components/Card/index.stories.tsx
  src/components/Card/index.style.tsx
  src/components/Container/index.stories.tsx
  src/components/Divider/index.stories.tsx
  src/components/Input/index.style.tsx
  src/components/Input/index.tsx
  src/components/ScrollArea/index.stories.tsx
  src/components/Skeleton/index.style.tsx
  src/components/Tabs/index.styles.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore(release): 1.19.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  0f299b8c61c2e354d8c851edd07c8cdbafb721e8
Due: none

npm
  src/evoke-theme-config.ts
  src/hooks/theme/index.ts
  src/theme/pallete.ts
  src/theme/theme.ts
  src/theme/theme.type.ts
Due: eslint --fix, prettier --write

refactor: migrate button component to emotion style
  src/components/Button/index.stories.tsx
  src/components/Button/index.style.tsx
  src/components/Button/index.tsx
Due: eslint --fix, prettier --write

refactor: migrate avatar component to emotion style
  src/components/Avatar/index.stories.tsx
  src/components/Avatar/index.style.tsx
  src/components/Avatar/index.tsx
Due: eslint --fix, prettier --write

feat: migrate card component to emotion style & add variants
  src/components/Card/index.stories.tsx
  src/components/Card/index.style.tsx
  src/components/Card/index.tsx
Due: eslint --fix, prettier --write

refactor: migrate box component to emotion style
  src/components/Box/index.stories.tsx
  src/components/Box/index.style.tsx
  src/components/Box/index.tsx
Due: eslint --fix, prettier --write

refactor: change style properties value with theme token
  src/components/ScrollArea/index.stories.tsx
  src/components/ScrollArea/index.style.tsx
  src/components/ScrollArea/index.tsx
Due: eslint --fix, prettier --write

refactor: migrate tooltip component to emotion style
  src/components/Tooltip/index.stories.tsx
  src/components/Tooltip/index.style.tsx
  src/components/Tooltip/index.tsx
Due: eslint --fix, prettier --write

refactor: migrate tab component to emotion style
  src/components/Tabs/index.stories.tsx
  src/components/Tabs/index.styles.tsx
  src/components/Tabs/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
