Repository svipulc/Evoke-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: sm-21 - Create avatar component (#2)
  .storybook/main.ts
  package-lock.json
  package.json
  public/assets/test.jpg
  src/components/Avatar/index.stories.tsx
  src/components/Avatar/index.style.tsx
  src/components/Avatar/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  3c5a0ba9b8605a5a554d09ae7008618091d7162d
Due: none

feat: sm-56 - create skeleton component (#9)
  src/components/Skeleton/index.stories.tsx
  src/components/Skeleton/index.style.tsx
  src/components/Skeleton/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  3fa82b8e6403e082517d61ee1c64ad446602df5b
Due: none

feat: SM-57 - create modal component (#10)
  src/components/Modal/index.stories.tsx
  src/components/Modal/index.style.tsx
  src/components/Modal/index.tsx
  src/components/index.tsx
  src/context/Modal/index.tsx
  src/context/index.ts
  src/hooks/Modal/index.ts
  src/hooks/index.ts
  src/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  7f798ba67b1a992a83c8bfe11416d0da4a19399d
Due: none

feat: sm-72 create stack component
  src/components/Stack/index.stories.tsx
  src/components/Stack/index.style.tsx
  src/components/Stack/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

fix: create tooltip component (#12)
  package-lock.json
  package.json
  src/components/Tooltip/index.stories.tsx
  src/components/Tooltip/index.style.tsx
  src/components/Tooltip/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  e89248fae54bcaeb8fc29487e5370ac47e427126
Due: none

feat: sM-75 Create Divider Component
  package-lock.json
  package.json
  src/components/Divider/index.stories.tsx
  src/components/Divider/index.style.tsx
  src/components/Divider/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

feat: sm-22 - create tabs component (#4)
  src/components/Tabs/TabsContext.tsx
  src/components/Tabs/index.stories.tsx
  src/components/Tabs/index.styles.tsx
  src/components/Tabs/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6964459e377e66d55b908d324dfc63e007b0a478
Due: none

fix: sm-90 update folder structure and refactor tabs component
  src/components/Tabs/TabsContext.tsx
  src/components/Tabs/index.stories.tsx
  src/components/Tabs/index.styles.tsx
  src/components/Tabs/index.tsx
  src/context/Tabs/index.ts
  src/context/index.ts
  src/hooks/Tabs/index.ts
  src/hooks/index.ts
Due: eslint --fix, prettier --write

refactor: sm-92 Add None variant for spacing & remove breakpoint style for variants
  src/components/Stack/index.stories.tsx
  src/components/Stack/index.style.tsx
  src/components/Stack/index.tsx
Due: eslint --fix, prettier --write

style: sm-91 remove border from card component
  src/components/Card/index.stories.tsx
  src/components/Card/index.style.tsx
Due: eslint --fix, prettier --write

feat: sm-53 create progress component
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/Progress/index.stories.tsx
  src/components/Progress/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

refactor: integrate Emotion JSX for styling and add responsive support
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/Grid/index.stories.tsx
  src/components/Grid/index.style.tsx
  src/components/Grid/index.tsx
  src/theme/index.ts
  src/utils/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

refactor: move grid context to separat folder
  src/components/Grid/index.tsx
  src/context/Grid/index.tsx
Due: eslint --fix, prettier --write

feat: sm-74 create box component
  src/components/Box/index.stories.tsx
  src/components/Box/index.style.tsx
  src/components/Box/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

refactor: integrating emotion jsx and responsive style for stack component
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/Stack/index.stories.tsx
  src/components/Stack/index.style.tsx
  src/components/Stack/index.tsx
  src/theme/index.ts
Due: eslint --fix, prettier --write

feat: sm-71 - create grid component (#17)
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/Grid/index.stories.tsx
  src/components/Grid/index.style.tsx
  src/components/Grid/index.tsx
  src/context/Grid/index.tsx
  src/theme/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  dc5465bcda3ccfb851acc859c48f3e7ab9792120
Due: none

refactor: add cardcontext to check the children
  src/components/Card/index.tsx
  src/context/Card/index.tsx
Due: eslint --fix, prettier --write

feat: sm-73 create container component (#18)
  src/components/Container/index.stories.tsx
  src/components/Container/index.style.tsx
  src/components/Container/index.tsx
  src/components/index.tsx
Due: eslint --fix, prettier --write

style: fix style issue of rounded in card component (#16)
  src/components/Card/index.stories.tsx
  src/components/Card/index.style.tsx
  src/components/Card/index.tsx
  src/context/Card/index.tsx
Due: eslint --fix, prettier --write

fix: release issue for card component
  src/components/index.tsx
Due: eslint --fix, prettier --write

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  052cd65f201232e195e196fa3f8b777ad9e5cd67
Due: none

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  a28e78193c8703c884d66433fe6283b8335588b1
Due: none

fix: sm-90 update folder structure and refactor tabs component (#21)
  src/components/Tabs/TabsContext.tsx
  src/components/Tabs/index.stories.tsx
  src/components/Tabs/index.styles.tsx
  src/components/Tabs/index.tsx
  src/context/Tabs/index.ts
  src/context/index.ts
  src/hooks/Tabs/index.ts
  src/hooks/index.ts
Due: eslint --fix, prettier --write

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  df9e189cc659b44eb9a22c2f441dbaa87a49b284
Due: none

build: remove assests folder, vite logo and disable sourcemap generation
  package.json
  public/vite.svg
  vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
